In [ ]:
#Import all your libriaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#declare your variables  and merge the two arrays

In [5]:
A= [1,2,3,4,5,6]
B=[13, 21, 34]

In [ ]:
#Assign with new variable

In [16]:
A_B = A.extend(B)

In [ ]:
#Print screen

In [18]:
A_B

In [ ]:
#Storing a one dimensional matrix

In [19]:
a= np.identity(3)

In [20]:
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
#Storing a one dimensional matrix

In [21]:
b= np.array[(1,0,0),(0,1,0),(0,0,1)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [22]:
eye = np.eye(3)

In [23]:
eye

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [27]:
b_sqrb= np.array([1,0,0],[0,1,0],[0,0,1])

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
#Question 3
#Connect to database

In [ ]:
#Reading a csv files from a url

In [29]:
fuel_df = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [ ]:
#print screen

In [30]:
fuel_df

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [ ]:
#Find minimum value for fuel cost per unit burned for equivalent fueltypecode

In [31]:
fuel_df.min()

record_id                       f1_fuel_1994_12_100_0_1
utility_id_ferc1                                      1
report_year                                        1994
plant_name_ferc1                               (1)sta98
fuel_type_code_pudl                                coal
fuel_qty_burned                                     1.0
fuel_mmbtu_per_unit                            0.000001
fuel_cost_per_unit_burned                       -276.08
fuel_cost_per_unit_delivered                   -874.937
fuel_cost_per_mmbtu                             -41.501
dtype: object

In [ ]:
#Another method just to confirm this - Find minimum value for fuel cost per unit burned for equivalent fueltypecode

In [42]:
fuel_df[['fuel_cost_per_unit_burned']].idxmin()

fuel_cost_per_unit_burned    0
dtype: int64

In [ ]:
#Find minimum value

In [39]:
fuel_df.min()

record_id                       f1_fuel_1994_12_100_0_1
utility_id_ferc1                                      1
report_year                                        1994
plant_name_ferc1                               (1)sta98
fuel_type_code_pudl                                coal
fuel_qty_burned                                     1.0
fuel_mmbtu_per_unit                            0.000001
fuel_cost_per_unit_burned                       -276.08
fuel_cost_per_unit_delivered                   -874.937
fuel_cost_per_mmbtu                             -41.501
dtype: object

In [ ]:
#Show statistics for dataset

In [43]:
fuel_df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [ ]:
#Find skewness fuel_cost_per_unit_burned

In [55]:
fuel_df.skew(axis = 0, skipna = True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned         0.000000
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [ ]:
#Find Kurtosis for fuel_cost_per_unit_burned

In [56]:
fuel_df.kurtosis(axis = 0, skipna = True)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned           0.000000
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [ ]:
#Find sum of columns with missing values

In [54]:
fuel_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64